* {
  margin: 0;
  padding: 0;
  cursor: none;
}

html,
body {
  font-family: "Amatic SC", cursive;
  overflow: hidden;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

::selection {
  color: #111;
  background: rgb(255, 234, 43);
}

#playButton {
  height: 23px;
  width: 23px;
  display: inline-block;
  position: absolute;
  font-size: 20px;
  color: #fff;
  bottom: 10px;
  right: 5px;
  z-index: 1;
  padding: 5px;
  border: 1px solid rgb(255, 234, 43);
  border-radius: 50%;
  transition: all 0.3s;
}

#playButton:hover,
#playButton:active {
  color: rgb(255, 234, 43);
  border-color: #fff;
}

#pauseButton {
  height: 23px;
  width: 23px;
  display: inline-block;
  position: absolute;
  font-size: 20px;
  color: #fff;
  bottom: 10px;
  right: 45px;
  z-index: 1;
  padding: 5px;
  border: 1px solid rgb(255, 234, 43);
  border-radius: 50%;
  transition: all 0.3s;
}

#pauseButton:hover,
#pauseButton:active {
  color: rgb(255, 234, 43);
  border-color: #fff;
}

.play {
  margin-left: 4.5px;
  position: absolute;
  bottom: 6px;
}

.pause {
  margin-left: 3px;
  position: absolute;
  bottom: 6px;
}

.music {
  position: absolute;
  font-size: 20px;
  letter-spacing: 1px;
  bottom: 15px;
  right: 86px;
  color: #fff;
  z-index: 1;
}

@media screen and (max-width: 320px) {
  #playButton {
    height: 20px;
    width: 20px;
    font-size: 17px;
  }

  #pauseButton {
    height: 20px;
    width: 20px;
    font-size: 17px;
    right: 40px;
  }

  .music {
    font-size: 15px;
    bottom: 18px;
    right: 78px;
  }
}

@media screen and (max-width: 425px) and (min-width: 321px) {
  #playButton {
    height: 21.5px;
    width: 21.5px;
    font-size: 18.5px;
  }

  #pauseButton {
    height: 21.5px;
    width: 21.5px;
    font-size: 18.5px;
    right: 42.5px;
  }

  .music {
    font-size: 18px;
    bottom: 16px;
    right: 80px;
  }
}

.point {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
}

/* .point:hover .text,
.point:active .text {
    opacity: 1;
} */

/* .point:hover .text1,
.point:active .text1 {
    opacity: 1;
} */

.point .label {
  user-select: none;
  cursor: none;
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #00000077;
  color: #ffffff;
  top: -20px;
  left: -20px;
  border-radius: 50%;
  border: 1px solid #ffffff77;
  text-align: center;
  line-height: 30px;
  font-weight: 200;
  font-size: 11px;
  transform: scale(0, 0);
  transition: transform 0.3s;
}

.point .label1 {
  user-select: none;
  cursor: none;
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #00000077;
  color: #ffffff;
  top: -20px;
  left: -20px;
  border-radius: 50%;
  border: 1px solid #ffffff77;
  text-align: center;
  line-height: 30px;
  font-weight: 200;
  font-size: 18px;
  transform: scale(0, 0);
  transition: transform 0.3s;
}

.point.visible .label {
  transform: scale(1, 1);
}

.point.visible .label1 {
  transform: scale(1, 1);
}

.point #text {
  position: absolute;
  top: 20px;
  left: -163px;
  width: 300px;
  padding: 10px;
  border-radius: 5px;
  background-color: #00000077;
  color: #ffffff;
  line-height: 1.3em;
  text-align: center;
  font-weight: 200;
  font-size: 23px;
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;
}

@media screen and (min-width: 992px) {
  .point #text {
    left: -212px;
    width: 400px;
    font-size: 28px;
  }
}

.point #text1 {
  display: grid;
  grid-template: repeat(2, auto) / repeat(2, auto);
  row-gap: 5px;
  position: absolute;
  top: 20px;
  left: -65px;
  width: 100px;
  padding: 10px;
  border-radius: 5px;
  background-color: #00000077;
  color: #ffffff;
  line-height: 1.3em;
  text-align: center;
  font-weight: 200;
  font-size: 16px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
}

@media screen and (min-width: 992px) {
  .point #text1 {
    grid-template: repeat(2, 30px) / repeat(2, 63px);
    align-items: center;
    justify-items: center;
    left: -83px;
    width: 136px;
  }
}

.click {
  color: #fff;
  transition: color 0.3s;
}

.click:hover,
.click:active {
  color: rgb(255, 234, 43);
}

.github,
.mail {
  font-size: 20px;
  color: #fff;
}

@media screen and (min-width: 992px) {
  .github,
  .mail {
    padding-bottom: 4px;
    font-size: 28px;
  }
}

a {
  padding-bottom: 2px;
  font-size: 23px;
  text-decoration: none;
  color: #fff;
  transition: all 0.3s;
  background: linear-gradient(90deg, transparent, yellow, transparent) bottom /
    var(--d, 0) 1px no-repeat;
}

a:hover,
a:active {
  color: rgb(255, 234, 43);
  --d: 100%;
}

@media screen and (min-width: 992px) {
  a {
    font-size: 28px;
    padding-bottom: 4px;
  }
}

.cursor {
  width: 1rem;
  height: 1rem;
  position: fixed; /* Fixed position.. */
  top: 0; /* at the top left.. */
  left: 0;
  z-index: 2; /* above everything else. */
  pointer-events: none; /* Cant't be clicked. */
  transition: none; /* Cursor is always accurate */
  opacity: 0; /* Hidden by default */
  transform: translate(-50%, -50%);
}

.cursor-icon {
  /* Styling for the visible part */
  width: 1rem;
  height: 1rem;
  border-radius: 50%; /* Circle */
  border: 1px solid rgb(255, 234, 43); /* Backup value */
  transition: all 0.2s ease;
  transform-origin: 50% 50%;
}

.cursor.cursor_visible {
  opacity: 1;
}

.cursor.cursor_hidden {
  opacity: 0;
}

/* Hover effects */
.cursor.cursor_hover .cursor-icon {
  border: 1px solid #fff;
  transform: scale(1.5);
}

@media screen and (max-width: 768px) {
  .cursor-icon {
    opacity: 0;
  }
}